            <!--  views/partials/footer.ejs starts here  -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Created by Jose Alejandre: This is a template website for future designs</p>
</footer>

</body>
</html>