<%- include('../partials/header') %>
<h1><%=title%></h1>
    <p>This website has a welcome page, sports page and my contact page, click the tabs above to see the rest of the pages!</p>    

  <img width="200" src="https://media.istockphoto.com/id/1303480001/photo/about-us.jpg?b=1&s=170667a&w=0&k=20&c=bO2majhgNDwxjvUxhWj-tVyz8bmZoGICADy51Zyu2kY=" alt="about">
<%- include('../partials/footer') %>
