<%- include('../partials/header') %>
<h1><%=title%></h1>
   <p>This is my <a href="https://www.linkedin.com/in/jose-alejandre-4a0899221/" target="_blank">LinkedIn</a> if you would like to contact me!</p>    
  <img width="200" src="https://www.iconpacks.net/icons/2/free-linkedin-logo-icon-2430-thumb.png" alt="linkedin">
<%- include('../partials/footer') %>