<%- include('../partials/header') %>
<h1><%=title%></h1>
    <p>This is the home page! This website is a template for a simple website using ejs</p>    
  <img width="200" src="https://mma.prnewswire.com/media/1982584/Welcome_Homes_Logo.jpg?p=facebook" alt="welcome">
<%- include('../partials/footer') %>
