<%- include('../partials/header') %>
<h1><%=title%></h1>
    <p>This is patrick mahomes and he is a fraud that should have lost the superbowl!</p>    
  <img width="200" src="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/chiefs/iwmsg6lhulvntsg327gk" alt="about">
<%- include('../partials/footer') %>